body{
    font-family: Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 80vh;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 500px;
}
.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    margin-left: 5px;
}
label{
    width: 40%;
    align-items: center;
    text-align: left;
    margin-right: 20px;
    margin-left: 50px;
}
input, select{
    flex: 1;
    padding: 5px;
    margin-right: 50px;
}
button{
    margin: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}